/* colors.css - Simple 3-color system */

:root {

    

    /* Main colors */
    --color-bg: #1d2630;          /* Dark background */
    --color-accent: #2a4b50;      /* Cyan - panels, modals, buttons */
    --color-accent-faded: #233437;
    --color-text: #ffffff;        /* White text */

    --text-color-light: #cdc4ac;

    --active-bgc: rgb(34, 65, 34);
    --active-borderColor: rgba(143, 255, 128, 0.141);
    
    /* Derived colors */
    --color-border: var(--color-accent);
    --color-btn: var(--color-accent);
    --color-panel: rgba(0, 217, 255, 0.1);  /* Subtle accent background */

    /*checkpoint colors */
    --bgc-fiveMinutes: rgba(254, 146, 14, 0.521);;
    --outline-fiveMinutes: rgba(249, 174, 35, 0.651);;
    --bgc-reached: rgba(255, 0, 0, 0.371);
    --outline-reached: rgba(255, 0, 0, 0.545);
}

body {
    color: var(--text-color-light);
}
.textColorLight {
    color: var(--text-color-light);
}

.textColorDark {
    color: var(--color-bg);
}

.activeSurface {
    background-color: var(--active-bgc);
    background-color: var(--color-accent) !important;
    /* box-shadow: inset 0 0 10px #3b6b72; */
}
.notActiveSurface {
    background-color: var(--color-accent-faded) !important;
    /* box-shadow: inset 0 0 10px #3b6b72; */
}