/* icons.css - Material Symbols font import */
/* Using "Rounded" variant to match your existing icon choices */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Base icon styles */
.icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

/* Icon sizes */
.iconXs { font-size: 1em; }
.iconSm { font-size: 1.25em; }
.iconMd { font-size: 1.5em; }
.iconLg { font-size: 2em; }
.iconXl { font-size: 2.5em; }
.icon2xl { font-size: 3em; }

/* Icon fill variants */
.iconFilled {
    font-variation-settings: 'FILL' 1;
}

.iconOutlined {
    font-variation-settings: 'FILL' 0;
}
